<main>
    <header>
        <img src="https://upload.wikimedia.org/wikipedia/fr/a/ad/Logo-On-Dijon_image-xs.jpg"/>

        <a routerLink="">Déjà inscrit ? <span>Se connecter</span></a>
    </header>
    <section class="left-panel">

    </section>

    <section class="right-panel">
        <article>
            <h1>Bienvenue !</h1>
            <h3>Créez un compte pour continuer</h3>
        </article>

        <article class="fields">
            <input type="text" placeholder="Adresse mail">
            <span>
                <input type="text" placeholder="Prénom">
                <input type="text" placeholder="Nom">
            </span>
            <input type="password" placeholder="Mot de passe">
        </article>

        <button routerLink="/main/shelter">S'inscrire</button>

        <article class="social_network">
            <span class="google"></span>
            <span class="facebook"></span>
            <span class="twitter"></span>
        </article>

    </section>
</main>