<main>
    <h4>Informations</h4>
    <div>
        <label for="name">Nom :</label>
        <input readonly name="name" type="text" value="{{shelter?.name}}"/>

        <label for="latitude">Latitude :</label>
        <input readonly name="latitude" type="text" value="{{shelter?.latitude}}"/>

        <label for="longitude">Longitude :</label>
        <input readonly name="longitude" type="text" value="{{shelter?.longitude}}"/>

        <label for="capacity">Capacité maximale :</label>
        <input readonly name="capacity" type="number" value="{{shelter?.capacity}}"/>
    </div>
</main>