main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    h4 {
        color: var(--primary);
        font-size: 22pt;
        margin: 0;
        margin-bottom: 5px;
    }

    div {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        overflow: auto;
        flex: 1;
        flex-basis: 0;

        label {
            margin-top: 8px;
            margin-bottom: 4px;
        }

        input {
            border: 1px solid var(--grey);
            border-radius: 8px;
            padding: 10px;
            background-color: var(--light-grey);
            color: var(--primary);
            cursor:not-allowed;
        }
    }
}