<main>
    <h4>Statistiques</h4>
    <span>
        <article class="capacity">
            <span>
                <h2>{{shelter?.occupation}}</h2>
            </span>
            <h5>Ocupation actuelle</h5>
        </article>
        <article class="entries">
            <span>
                <h2>{{entries}}</h2>
            </span>
            <h5>Entrées</h5>
        </article>
        <article class="exits">
            <span>
                <h2>{{exits}}</h2>
            </span>
            <h5>Sorties</h5>
        </article>
    </span>
</main>