<main>
    <section>
        <div>
            <i routerLink="home" routerLinkActive="active" class="fa-solid fa-house"></i>
            <i routerLink="shelter"routerLinkActive="active" class="fa-solid fa-bicycle"></i>
            <i routerLinkActive="active" class="fa-solid fa-users"></i>
            <i routerLinkActive="active" class="fa-sharp fa-solid fa-circle-info"></i>
            <i routerLink="settings" routerLinkActive="active" class="fa-solid fa-gear"></i>
            <i routerLink="" class="fa-solid fa-right-from-bracket"></i>
        </div>
    
        <span>
            <router-outlet/>
        </span>
    </section>
</main>

